@media print{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

body{
    font-size: 12px;
}

main, footer{
    margin-left:auto;
    margin-right: auto;
    width: 90vw;
}

.logo{
    height:50px;
    padding:0px;
    margin:5px 0 15px 0;
}

div.mainSec{
    border: 1px solid #99BCE8;
    padding:0px
}

.Title{
    font-weight: bold;
    color: #04408C;
    text-align: left;
}

.section{
    background-color: #ABC7EC; /* For browsers that do not support gradients */
    background-image: linear-gradient(#D8E6F6 49%, #CFE0F4 50%, #92B6E6 51%, #C6D9F2 52%, #CADCF3);
    display: block;
    padding: 5px 10px;
    font-weight: bold;
    color:#04408C;
}

.Btop{
    border-top: 1px solid #99BCE8;
}
.Bbottom{
    border-bottom: 1px solid #99BCE8;
}

.step{
    display: block;
    background-color:#DFE8F6;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    text-transform:uppercase;
}

a.focus{
    background-color:#B4BDE4;
}

a:hover.step{
    text-decoration: none;
    background-color:#C6D9F2;
}

.eventItem{
    display: disblock;
    background:#EEE;
    border-top: 1px solid #DFE8F5;
    border-bottom: 1px solid #DFE8F5;
    margin-top: 2px;
}

.itens .eventItem{
    cursor:move;
}

#stepsProcedure .eventItem{
    cursor:pointer;
}

.eventItem .title{
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #D8D9DA;
}

.eventItem .comment{
    display: block;
    padding: 2px 10px;
    font-size:11px;
}

.demoEvents{
    display: block;
    margin: 20px 0;
    font-size: 11px;
    text-align: center;
    color:#333;
}
.demoEvents:hover, .languages li:hover{
    color:#04408C;
    cursor:pointer;
}
.languages ui{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color:#777;
}
.languages li{
    display: inline;
    padding:10px 5px;
}

#Proc1, #Proc2, #Proc3, #Proc4, #Proc5, #Proc6, #Proc7, #Proc8, #Proc9, #Proc10, #Proc11, #Proc12, #Proc13, #Proc14 {
    display: block;
    padding-bottom: 10px;
}

/*Export Button*/
/*some styles in newEventForm.css*/
.exportBtn{
    display: flex;
}
.exportEventButton{
    margin:5px 2px;
    flex-grow: 100;
}

/*Modal configuration */
.modal-dialog{
    margin:10px auto;
}
.modal-dialog, .modal-content {
    width: 70vw;

    min-width: 700px;
    min-height:570px;
}

.modal-body {
    max-height: calc(100vh - 100px);
    text-align: center;
}

.modal-body img{
    height:450px;
    width:600px;
}

/* footer */
footer{
    margin-top:30px;
    margin-bottom: 10px;
    padding: 10px 0 0 0;

    border-top: 1px dotted #ccc;

    color:#838689;
}

footer .copyright{
    font-size: 11px;
}

footer .copyright li{
    
    display: inline;
}

footer .copyright img{
    margin-bottom: 10px;
}

footer .contact{
    text-align:right;
}

footer .contact a{
    color:#333;
}